@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* COLORS */
    @apply text-[16px];
    --color_arksoft-teal: #2a6572;
    --color_betcha-green: #41CD7D;
  }

  * {
    @apply font-default text-white;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }

  a {
    @apply decoration-0 hover:cursor-pointer;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 0 0.1em;
    background-position-y: 100%;
    background-position-x: 0;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
  }

  a:hover,
  a:focus,
  a:active {
    background-size: 100% 0.1em;
  }
}

/* TRACK BAR */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
